html,
body {
  padding: 0px;
  margin: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Assistant', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #18181b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;              /* no window scrollbars */
  overscroll-behavior: none;     /* disable bounce on supported browsers */
  -webkit-overflow-scrolling: auto;  
}

#root {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
